---
layout: main
---

<section id="personal-panel" >
    <img id="avatar" class="circle" src="img/avatar.jpg" ></img>
    {% include category.html module="personal.html" %}

    <section id="info-panel" >
        {% include category.html module="info.html" %}
    </section>
</section>

<section id="professional-panel" >
    {% include category.html module="academics.html" %}
    {% include category.html module="experiences.html" %}
    {% include category.html module="skills.html" %}
</section>

<section id="small-info-panel" >
    {% include category.html module="info.html" %}
</section>
