---
layout: main
---

<section id="personal-panel" >
    <img id="avatar" class="circle" src="img/avatar.jpg" ></img>
    <img id="qr-code" src="https://chart.googleapis.com/chart?cht=qr&chs=150x150&chl=http://gabryel.com.br&choe=UTF-8" ></img>
    {% include category.html module="personal.html" %}

    <section id="info-panel" >
        {% include category.html module="info.html" %}
    </section>
</section>

<section id="professional-panel" >
    <section id="life" class="multi" >
        {% include category.html module="academics.html" %}
        {% include category.html module="experiences.html" %}
    </section>
    {% include category.html module="skills.html" %}
</section>

<section id="small-info-panel" >
    {% include category.html module="info.html" %}
</section>
