<p class="category-title" >Experiences</p>

{% for place in site.data.experiences reversed %}
    <div class="timebox title" >
        <div class="timeline" >
            {% include time-arrow.html %}
        </div>
        <div class="info" >
            <p class="item-title" >{{ place.name | replace: '/', '<br/>'}}</p>
        </div>
    </div>
    {% for pos in place.position reversed %}
        <div class="timebox" >
            <div class="timeline" >
                {% include time-arrow.html year=pos.started.year month=pos.started.month %}
            </div>
            <div class="info" >
                <p>{{ pos.name }}</p>
            </div>
        </div>
    {% endfor %}
{% endfor %}
