<p class="category-title" >Experiences</p>

{% for place in site.data.experiences reversed %}
    {% for pos in place.position reversed %}
        <div class="timebox" >
            <div class="timeline" >
                {% include time-arrow.html year=pos.started.year month=pos.started.month %}
            </div>
            <div class="info" >
                {% if forloop.first %}
                    <p class="item-title" >{{ place.name }}</p>
                {% endif %}
                <p>{{ pos.name }}</p>
            </div>
        </div>
    {% endfor %}
{% endfor %}
