<p class="category-title" >Personal</p>

{% for info in site.data.personal %}
    <div class="block-wrapper {% if info.printable == false %} non-printable {% endif %}" >
        <p class="item-icon" >
            {% if info.icon %}
                {% include {{ info.icon }} %}
            {% endif %}
        </p>
        <p class="item-title" >{{ info.name }}: </p>
        <p>
            {% if info.url %}
                <a href="{{ info.url }}">
                    {{ info.value }} {% include link-external.svg %}
                </a>
            {% else %}
                {{ info.value }}
            {% endif %}
        </p>
    </div>
{% endfor %}
