<p class="category-title" >Habilidades</p>

<section id="skills" class="multi" >
    {% for category in site.data.skills %}
        <section class="category" >
            <p class="category-title" >{{ category.name }}</p>

            {% for skill in category.skills %}
                <div class="exp-level" >
                    <p class="item-title" >{{ skill.name }}</p>
                    {% for i in (1..5) %}
                        {% if i <= skill.level %}
    					    <span class="dot active" ></span>
                        {% else %}
                            <span class="dot" ></span>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</section>
