@use "constants";

.category {
  margin: 12px 14px;

  > .category, .category-title {
    margin-top: 0;
  }

  .category-title {
    border-bottom: 1px solid;
    text-transform: uppercase;
    font-weight: bold;

    &.h1 {
      font-size: constants.$category-h1-font-size;
    }

    &.h2 {
      font-size: constants.$category-h2-font-size;
    }

    .item-icon {
      font-size: 0.95em;
    }

    .end {
      font-weight: normal;
      float: right;
    }
  }

  .category-description {
    text-align: justify;
  }

  .item-icon {
    margin-right: 5px;

    svg {
      height: 1em;
      width: 1em;
    }
  }

  .item-title {
    font-weight: bold;
  }

  p:not(.item-title):not(.category-title) {
    font-size: constants.$description-font-size;
  }
}

.multi {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  > * {
    flex-grow: 1;
  }

  > .section {
    margin-top: 0;
    display: inline;
  }
}

.multi-grid {
  display: grid;
  justify-items: stretch;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  column-gap: 2em;
}

.timebox {
  display: flex;
  width: 100%;

  p {
    margin: 4px;
  }

  .info {
    flex: 4;
    margin: 0 5px;
  }

  .timeline {
    flex: 1;
  }

  &:first-of-type .timeline {
    margin-top: constants.$p-vertical-margin;

    p {
      margin-top: 0;
    }
  }

  &:last-of-type .timeline {
    margin-bottom: constants.$p-vertical-margin;
  }

  &.title {
    p {
      padding-top: 10px;
    }
  }
}

.timeline {
  width: 50px;
  text-align: right;
  padding-right: 10px;
  border-right: 1px black solid;
}

.exp-level {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  padding-top: 3px;
  gap: 8px;


  * {
    display: inline-block;
    margin: 0;
  }

  > .rhs {
    min-width: 5em;

    .dot {
      height: 12px;
      width: 12px;
      margin: 0 1.5px;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &.textual .visual {
    display: none;
  }

  &.visual .textual {
    display: none;
  }
}

* [hidden] {
  display: none !important;
}
