@use "constants";

.category {
  margin: 16px 14px;

  > section {
    margin-top: 0;
  }

  .category-title {
    border-bottom: 1px solid;
    text-transform: uppercase;
    font-weight: bold;
  }

  .item-icon {
    margin-right: 5px;

    svg {
      height: 1em;
      width: 1em;
    }
  }

  .item-title {
    font-weight: bold;
  }

  p:not(.item-title):not(.category-title) {
    font-size: constants.$description-font-size;
  }
}

.multi {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > .section {
    margin-top: 0;
    display: inline;
  }
}

#experiences {
  width: 35em;
}

#education {
  width: 35em;
}

#skills > .category {
  width: 16em;
}

#jobs > .category {
  width: 36em;

  > p {
    text-align: justify;
    text-justify: inter-word;
  }
}

.timebox {
  display: flex;
  width: 100%;

  p {
    margin: 4px;
  }

  .info {
    flex: 4;
    margin: 0 5px;
  }

  .timeline {
    flex: 1;
  }

  &:first-of-type .timeline {
    margin-top: constants.$p-vertical-margin;

    p {
      margin-top: 0;
    }
  }

  &:last-of-type .timeline {
    margin-bottom: constants.$p-vertical-margin;
  }

  &.title {
    p {
      padding-top: 10px;
    }
  }
}

.timeline {
  width: 50px;
  text-align: right;
  padding-right: 10px;
  border-right: 1px black solid;
}

.exp-level {
  text-align: right;

  p {
    display: inline;
  }

  .dot {
    height: 12px;
    width: 12px;
    margin: 0 1.5px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
  }
}
