$highlight-color: #e69500;
$right-color: #E3E3E3;
$left-color: black;

$print-font-color: black;
$right-font-color: black;
$left-font-color: #E3E3E3;

$p-vertical-margin: 10px;
$category-h1-font-size: 1.2em;
$category-h2-font-size: 1.1em;
$description-font-size: 0.9em;
$font-size: 14px;

$print-category-h1-font-size: 1.4em;
$print-category-h2-font-size: 1.2em;
$print-description-font-size: 0.9em;
$print-font-size: 16px;

$experience-breakpoint: 70em;
$small-screen-breakpoint: 60em;
