@use "constants";

* {
  max-width: 100%;
}

body {
  font-family: Roboto, sans-serif;
  font-size: constants.$font-size;
  min-height: 100vh;
  margin: 0;
}

#only-print {
  display: none;
}

#picture-container {
  display: block;
  margin: 0 auto;

  > * {
    width: 100%;
    height: auto;
    display: none;
    aspect-ratio: 1/1;
  }
}

#personal-panel, #small-info-panel {
  padding-left: constant(safe-area-inset-left);
}

#professional-panel {
  padding-right: constant(safe-area-inset-right);
}

#root > section {
  padding: 20px 0;
}

p, a {
  margin: constants.$p-vertical-margin 0;
}

a {
  text-decoration: none;
}

#name {
  font-weight: 300;
  font-size: 2em;
}

.circle {
  border: 3px solid;
  border-radius: 50%;
}

.block-wrapper {
  margin: constants.$p-vertical-margin 0;

  * {
    display: inline;
  }
}
