@use "constants";

* {
  max-width: 100%;
}

body {
  font-family: Roboto, sans-serif;
  font-size: constants.$font-size;
  min-height: 100vh;
  margin: 0;
}

#picture-container {
  display: block;
  margin: 0 auto;

  max-height: 35vh;
  max-width: 60%;
  aspect-ratio: 1/1;

  > * {
    display: none;
    height: min(100%, 35vh);
    width: min(100%, 35vh);
  }
}

#root > section {
  padding: 30px 12px;
}

#name {
  font-weight: 300;
  font-size: 2em;
}

p, a {
  margin: constants.$p-vertical-margin 0;
}

a {
  text-decoration: none;

  > svg {
    margin-top: 3px;
    vertical-align: top;
  }
}

.circle {
  border: 3px solid;
  border-radius: 50%;
}

.block-wrapper {
  margin: constants.$p-vertical-margin 0;

  * {
    display: inline;
  }
}
