@use "constants";

@media print {
  body {
    background-color: constants.$right-color;
  }

  #qr-code {
    display: inline;
    margin: 0 auto;
  }

  .unbreakable {
    break-inside: avoid;
  }

  #jobs {
    break-inside: avoid;

    > .category {
      width: 80%;
    }

    .multi {
      .category {
        padding-top: 2vh;
        padding-bottom: 2vh;
      }
    }
  }

  .category {
    margin: 0;
    padding: 12px 10px;
  }

  .multi {
    margin: 0;
    padding: 0 6px;
  }

  .category > .multi {
    margin: 0;
    padding: 0;
  }

  #small-info-panel {
    display: none;
  }

  @media (orientation: landscape) {
    #personal-panel {
      width: 25%;
      height: 95vh;

      position: absolute;
      left: 0;
    }

    #picture-container {
      margin: 10vh auto;
      width: 50%;
      height: auto;
    }

    #root {
      display: flex;
    }

    #personal-panel {
      width: 25%;
      height: 100vh;

      position: fixed;
      left: 0;
    }

    #professional-panel {
      margin: 0 0 0 25%;
      padding: 0;


      > .multi {
        padding: 0;
        margin: 0;
      }
    }
  }

  @media (orientation: portrait) {
    #experiences {
      display: none;
    }

    #picture-container {
      width: 30%;
      height: auto;
    }
  }

  @page {
    padding: 0;
    margin: 0;
  }
}