@use "constants";

@media print {
  body {
    background-color: constants.$right-color;
    font-size: constants.$print-font-size;
  }

  .unbreakable {
    break-inside: avoid;
  }

  #personal-panel, #professional-panel {
    padding: 2% !important;
  }

  #professional-panel > section {
    padding-top: 2%;
  }

  #jobs {
    .multi {
      .category:first-of-type {
        margin-top: 0;
        padding-top: 0;
      }

      .category {
        margin-top: 1vh;
        margin-bottom: 1vh;
      }
    }
  }

  #skills {
    > .category {
      margin-top: 0;
      width: 25%;
    }
  }

  #root > .category {
    margin: 0;
    padding: 2vh 2vw;
  }

  .category-title {
    break-inside: avoid;
    margin-bottom: 10px;

    &.h1 {
      font-size: constants.$print-category-h1-font-size !important;
    }

    &.h2 {
      font-size: constants.$print-category-h2-font-size !important;
    }
  }

  .category-title::after {
    content: "";
    display: block;
    height: 15vh;
    margin-bottom: -15vh;
  }

  #small-info-panel {
    display: none;
  }

  #life {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    > .category {
      padding: 0;
      margin: 0 2vw;
      width: 45%;
      display: inline;
    }
  }

  @media (orientation: landscape) {
    #personal-panel {
      width: 28%;
      height: 100vh;

      position: fixed;
      left: 0;
    }

    #picture-container {
      margin: 10vh auto;
      width: 50%;
      height: auto;

      #qr-code {
        display: inline;
        margin: 0 auto;
      }
    }

    #professional-panel {
      margin: 0 0 0 30%;
      padding: 0;

      > .multi {
        padding: 0;
        margin: 0;
      }
    }

    #jobs {
      .category:nth-of-type(4) > .category-title {
        padding-top: 5%;
      }
    }
  }

  @media (orientation: portrait) {
    #experiences, #picture-container {
      display: none;
    }

    #jobs {
      > .category-title {
        padding-top: 4%;
      }

      .category:nth-of-type(4) > .category-title {
        padding-top: 7.5%;
      }
    }
  }

  @page {
    padding: 0 0;
  }
}