@use "constants";

@media screen {
  #avatar {
    display: block;
    margin: 0 auto;
  }

  #root {
    display: flex;
  }

  @media (min-width: constants.$small-screen-breakpoint) {
    #personal-panel {
      flex: 1 0 0;
    }

    #professional-panel {
      flex: 3 0 0;
    }

    #small-info-panel {
      display: none;
    }
  }

  @media (max-width: constants.$experience-breakpoint) {
    #personal-panel {
      flex: 1 0 0;
    }

    #professional-panel {
      flex: 2 0 0;
    }

    #experiences {
      display: none;
    }
  }

  @media (max-width: constants.$small-screen-breakpoint) {
    #root {
      display: inline;
    }

    #info-panel {
      display: none;
    }
  }
}
