@use "constants";

#personal-panel, #end-page-info-container {
  padding-left: constant(safe-area-inset-left);
}

#professional-panel {
  padding-right: constant(safe-area-inset-right);
}

#info-panel, #end-page-info-container > .category {
  > .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
    grid-column-gap: 1em;

    > * {
      margin: 5px 0;
    }
  }
}

#jobs > .content > .category {
  margin-right: 0;
}

#experiences, #education {
  min-width: 45%;
}

#jobs {
  > .category {
    width: 36em;
  }

  .job {
    .category-title {
      position: relative;

      .end {
        font-weight: normal;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }

  .category-title img {
    margin-right: 0.5em;
    height: 1.5em;
    width: auto;
  }

  .job-description {
    margin: 1em auto;
  }
}

#extras .multi {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  gap: 1em;

  > .category {
    .category-title {
      display: flex;
      flex-direction: column;
      height: 2lh;
    }
  }
}