#personal-panel, #small-info-panel {
  padding-left: constant(safe-area-inset-left);
}

#professional-panel {
  padding-right: constant(safe-area-inset-right);
}

#jobs > .multi > .category {
  width: 100%;
}

#experiences, #education {
  min-width: 45%;
}

#skills .multi > .category {
  max-width: 18em;
}

#jobs {
  > .category {
    width: 36em;
  }

  .job {
    .category-title {
      position: relative;

      .end {
        font-weight: normal;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }

  .category-title img {
    margin-right: 0.5em;
    height: 1.5em;
    width: auto;
  }

  .job-description {
    margin: 1em auto;
  }
}

#extras .multi-grid > .category {
  min-width: 20em;
}